<div class="row">
  <section class="sixteen columns">
    <h1 class="underline">Awards (Collegiate)</h1>
  </section>
</div>
<div class="row">
  <div class="two columns">
    <img src="{{ site.baseurl }}static/img/tia.png" class="display"></img>
  </div>
  <div class="fourteen columns">
    <article>
      <header>
        <h1>Telecommunications Industry Association - Robert William Pullen Scholarship</h1>
        <span><address>Champaign, IL</address><time>Fall 2016</time></span>
        <p>Awarded to undergraduate ECE ILLINOIS students of good character who have strong academic merit and an interest in the information and communications technology (ICT) industry.</p>
      </header>
    </article>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <img src="{{ site.baseurl }}static/img/ieee.png" class="display"></img>
  </div>
  <div class="fourteen columns">
    <article>
      <header>
        <h1>IEEE Central Illinois Scholarship</h1>
        <span><address>Champaign, IL</address><time>Fall 2015</time></span>
        <p>Awarded to members of IEEE who've demonstrated their involvement in the organization.</p>
      </header>
    </article>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <img src="{{ site.baseurl }}static/img/netmath.png" class="display"></img>
  </div>
  <div class="fourteen columns">
    <article>
      <header>
        <h1>NetMath Excellent Mentor</h1>
        <span><address>Champaign, IL</address><time>Spring 2014</time></span>
        <p>Named one of four excellent mentors for the Spring 2014 semester.</p>
      </header>
    </article>
  </div>
</div>
<!--Template-->
<!--<div class="row">-->
  <!--<div class="two columns">-->
    <!--<img src="{{ site.baseurl }}static/img/tia.png" class="display"></img>-->
  <!--</div>-->
  <!--<div class="fourteen columns">-->
  <!--</div>-->
<!--</div>-->
