<section class="sixteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>University of Illinois at Urbana-Champaign</h1>
            <span>B.S. Electrical Engineering, Minor in Computer Science</span><br />
            <span><time>2013-2016</time></span>
        </header>
        <br />
        <p>
            <em>Thesis: Guided Filters for Depth Image Enhancement</em><br />
            <em>Advisor: <a href="https://minhdo.ece.illinois.edu/">Prof. Minh Do</a></em>
        </p>
    </article>
</section>
