<div class = "row">
  <section class = "sixteen columns">
    <h1 class="underline">Education</h1>
  </section>
</div>
<div class = "row">
  <div class = "two columns">
    <img src="{{ site.baseurl }}static/img/michigan.png" class="me"></img>
  </div>
  <div class="fourteen columns">
    <article>
      <header>
        <h1>University of Michigan, Ann Arbor</h1>
        <span>M.S. Robotics</span><br />
        <span><time>2020 - 2022</time></span>
      </header>
    </article>
  </div>
</div>
<div class="row">
  <div class = "two columns">
    <img src="{{ site.baseurl }}static/img/illinois.png" class="me"></img>
  </div>
  <div class="fourteen columns">
    <article>
      <header>
        <h1>University of Illinois at Urbana-Champaign</h1>
        <span>B.S. Electrical Engineering, Minor in Computer Science</span><br />
        <span><time>2013-2016</time></span>
      </header>
    </article>
  </div>
</div>
