<section class="sixteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer, Toyota Research Institute</h1>
            <span><address>Los Altos, CA</address><time>August 2018 to Present</time></span>
        </header>
        <p>
          Worked in the Perception team on problems relating to sensor calibration, managing and updating calibrations, and developing
          tooling to reduce turnaround time and bring up a rapidly growing fleet. I also worked on tools for building and labeling
          large-scale maps.
        </p>
    </article>
    <article>
        <header>
            <h1>Software Engineer, Iris Automation</h1>
            <span><address>San Francisco, CA</address><time>June 2017 - August 2018</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1>Research Engineer, Sprite Robotics</h1>
            <span><address>Champaign, IL</address><time>January - May 2017</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>Electrical Engineering Intern, Rincon Research Corporation</h1>
            <span><address>Tucson, AZ</address><time>Summer 2016</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Embedded Image Processing Intern, The Aerospace Corporation</h1>
            <span><address>Chantilly, VA</address><time>Summer 2015</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
