<section class="sixteen columns">
    <h1 class="underline">Employment</h1>
    <article>
        <header>
          <h1>Software Engineer, <a href="https://tri.global">Toyota Research Institute</a></h1>
            <span><address>Los Altos, CA</address><time>August 2018 to Present</time></span>
        </header>
        <p>
          Worked in the Perception team on problems relating to sensor calibration, managing and updating calibrations, and developing
          tooling to reduce turnaround time and bring up a rapidly growing fleet. I also worked on tools for building and labeling
          large-scale maps.
        </p>
    </article>
    <article>
        <header>
          <h1>Software Engineer, <a href="https://www.irisonboard.com">Iris Automation</a></h1>
            <span><address>San Francisco, CA</address><time>June 2017 - August 2018</time></span>
        </header>
        <p>
          Second engineer on the software team. Worked on interfacing with sensors, writing calibration tools,
          lead development on labeling tools and testing, as well as buidling out the first version of their
          collision avoidance system.
        </p>
    </article>
    <article>
        <header>
          <h1>Research Engineer, <a href="https://www.petronics.io">Sprite Robotics</a></h1>
            <span><address>Champaign, IL</address><time>Spring 2017</time></span>
        </header>
        <p>
          Evaluated visual Simultaneous Localization and Mapping systems for a small mouse-like robot.
          Used motion capture to verify built trajectories. Wrote a communication protocol to synchronize
          timestamps between mocap and robot.
        </p>
    </article>
    <article>
        <header>
          <h1>Electrical Engineering Intern, <a href="https://www.rincon.com/">Rincon Research Corporation</a></h1>
            <span><address>Tucson, AZ</address><time>Summer 2016</time></span>
        </header>
        <p>
          Built a real-time software ATSC demodulator with the ability to switch between over-the-air TV
          channels as a stress-test of a newly-built cloud system.
        </p>
    </article>
    <article>
        <header>
          <h1>Embedded Image Processing Intern, <a href="https://aerospace.org/">The Aerospace Corporation</a></h1>
            <span><address>Chantilly, VA</address><time>Summer 2015</time></span>
        </header>
        <p>
          Designed and built a quadcopter to visually navigate a GPS-denied environment.
        </p>
    </article>
</section>
