<div class="row">
  <section class="sixteen columns">
    <h1 class="underline">Employment</h1>
  </section>
</div>
<div class="row">
  <div class="two columns">
    <img src="{{ site.baseurl }}static/img/akasa.png" class="display"></img>
  </div>
  <div class="fourteen columns">
    <article>
        <header>
          <h1>Software Engineer, <a href="https://akasa.com/">Akasa</a></h1>
            <span><address>South San Francisco, CA</address><time>June 2022 - Present</time></span>
        </header>
        <p>
            Worked in the RPA Platform team, creating and deploying services related to RPA automation. Services include Kubernetes management, EC2 instance generation,
            backend services and database management for RPA code. Mentored junior engineers, led projects, and dealt with on-call issues.
        </p>
    </article>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <img src="{{ site.baseurl }}static/img/tri.png" class="display"></img>
  </div>
  <div class="fourteen columns">
    <article>
        <header>
          <h1>Software Engineer IV, <a href="https://tri.global">Toyota Research Institute</a> / <a href="https://www.woven-planet.global/">Woven Planet Holdings</a> </h1>
            <span><address>Los Altos, CA</address><time>August 2018 - June 2022</time></span>
        </header>
        <p>
          Worked in the Perception team on problems relating to sensor calibration, localization, and mapping. Built and updated calibration software for LIDARs/cameras/radars.
          Built and adapted localization algorithms to various low-cost platforms. Worked on creating and deploying automated maps from low-cost sensors.
          <br />
          <br />
          The Automated Driving team at Toyota Research Institute was merged into Woven Planet in early 2022.
        </p>
    </article>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <img src="{{ site.baseurl }}static/img/iris.png" class="me"></img>
  </div>
  <div class="fourteen columns">
    <article>
      <header>
        <h1>Software Engineer, <a href="https://www.irisonboard.com">Iris Automation</a></h1>
          <span><address>San Francisco, CA</address><time>June 2017 - August 2018</time></span>
      </header>
      <p>
        Second engineer on the software team. Worked on interfacing with sensors, writing calibration tools,
        lead development on labeling tools and testing, as well as building out the first version of their
        collision avoidance system.
      </p>
    </article>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <img src="{{ site.baseurl }}static/img/petronics.png" class="me"></img>
  </div>
  <div class="fourteen columns">
    <article>
      <header>
        <h1>Research Engineer, <a href="https://www.petronics.io">Sprite Robotics</a></h1>
          <span><address>Champaign, IL</address><time>Spring 2017</time></span>
      </header>
      <p>
        Evaluated visual Simultaneous Localization and Mapping systems for a small mouse-like robot.
        Used motion capture to verify built trajectories. Wrote a communication protocol to synchronize
        timestamps between mocap and robot.
      </p>
    </article>
  </div>
</div>
