<div class="row">
  <section class="sixteen columns">
    <h1 class="underline">Internships</h1>
  </section>
</div>
<div class="row">
  <div class="two columns">
    <img src="{{ site.baseurl }}static/img/rincon.png" class="display"></img>
  </div>
  <div class="fourteen columns">
    <article>
        <header>
          <h1>Electrical Engineering Intern, <a href="https://www.rincon.com/">Rincon Research Corporation</a></h1>
            <span><address>Tucson, AZ</address><time>Summer 2016</time></span>
        </header>
        <p>
          Built a real-time software ATSC demodulator with the ability to switch between over-the-air TV
          channels as a stress-test of a newly-built cloud system.
        </p>
    </article>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <img src="{{ site.baseurl }}static/img/aerospace.png" class="me"></img>
  </div>
  <div class="fourteen columns">
    <article>
      <header>
        <h1>Embedded Image Processing Intern, <a href="https://aerospace.org/">The Aerospace Corporation</a></h1>
        <span><address>Chantilly, VA</address><time>Summer 2015</time></span>
      </header>
      <p>
          Designed and built a quadcopter to visually navigate a GPS-denied environment.
      </p>
    </article>
  </div>
</div>
