<div class="row">
  <section class="sixteen columns">
    <h1 class="underline">Publications & Patents</h1>
  </section>
</div>
<div class="row">
  <div class="sixteen columns">
    <article>
      <header>
        <h1>2D to 3D Line-Based Registration with Unknown Associations via Mixed-Integer Programming</h1>
        <span>Steven A. Parkison, Jeffrey M. Walls, Ryan W. Wolcott, Mohammad Saad, Ryan M. Eustice</span><br />
        <span>International Conference on Robotics and Automation (ICRA) 2020</span><br />
      </header>
    </article>
  </div>
</div>
<div class="row">
  <div class="sixteen columns">
    <article>
      <header>
        <h1>Systems and methods for locating a mobile phone in a vehicle</h1>
        <span>US Patent #10637985</span><br />
        <span><time>April 2020</time></span><br .>
        <span><a href="http://www.freepatentsonline.com/10637985.html">[Patent]</a></span>
      </header>
    </article>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <img src="{{ site.baseurl }}static/img/thesis.png" class="display" align="center"></img>
  </div>
  <div class="fourteen columns">
  <article>
    <header>
      <h1>Guided Filters for Depth Image Enhancement</a></h1>
      <span>Undergraduate Thesis</span><br />
      <span>Advisor: <a href="https://minhdo.ece.illinois.edu/">Prof. Minh Do</a></span><br />
      <span><time>December 2016</time></span><br />
      <span><a href="https://www.ideals.illinois.edu/bitstream/handle/2142/97838/ECE499-Fa2016-saad.pdf?sequence=2&isAllowed=y">[Thesis]</a> <a href=https://1drv.ms/p/s!AvdnWeCd7MgQ1GyRv5jfD3rp0_i5?e=ZtdUeY">[Presentation]</a></span>
    </header>
  </article>
  </div>
</div>
