<section class="sixteen columns">
  <h1 class="underline">Programming Skills</h1>
  <section class="five columns">
    <article>
      <header>
        <h1>Languages</h1>
      </header>
      <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
        &nbsp;&nbsp;<em>C/C++</em>
      <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
        &nbsp;&nbsp;<em>Python</em> &amp; <em>Git</em>
      </p>
    </article>
  </section>
  <section class="five columns">
    <article>
      <header>
        <h1>Libraries</h1>
      </header>
      <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
        &nbsp;&nbsp;<em>Ceres</em>
      </p>
    </article>
  </section>
</section>
